<div class="col">
    <div class="col__item-box">
    <h4 class="col__text-center"> <span class="col__bold">{{name}}</span> {{catBreadDetails.name}}<br/><span class="col__bold">{{Origin}}</span> {{catBreadDetails.origin}}</h4>
  <a class="col__hand" href={{catBreadDetails.wikipedia_url}} target="_blank"><img class="col__card-img"  [src]="catBreadDetails.image.url" alt="Card image cap"/></a>
  </div>
</div>
<div class="cat-decription">
  <p class="cat-text">{{catBreadDetails.description}}</p>
</div>